.DS_Store
Thumbs.db

.env
config.php
*.ini

logs/
*.log
cache/
tmp/
*.tmp

uploads/
storage/

vendor/

node_modules/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.min.css
*.min.js

*.zip
*.tar.gz
*.rar
*.bak

.AppleDouble
.LSOverride